body {
background-color: blueviolet;
}

.flexbox-container {
height: 900px;
background-color: bisque;
margin: 20px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 70px;
}

.flexbox-item {
width: 300px;
margin: 20px;
flex-basis: 50px;
border: 2px solid rgb(46,247,42);
background-color: #4d4242;
}

.flexbox-item-1 {
height: 200px;
}

.flexbox-item-2 {
height: 200px
}

.flexbox-item-3 {
height: 200px;
}